/**
 * @name blckdot
 * @license GPL-3.0
 * @version v1.0.0
 * @author ipincamp <support@nur-arifin.my.id>
 */

module.exports = {
	name: "name",
	cooldown: 10,
	description: "description",
	voiceChannel: false,
	execute(param) {
		// Code
	},
};
