{
    "defaultVolume": 100,
    "dev": ["DEV_ID", "OWNER_ID"],
    "playlistSize": 10,
    "prefix": "YOUR_PREFIX",
    "pruning": false,
    "stayTime": 30,
    "token": "CLIENT_TOKEN",
    "youtubeAPI": "YOUTUBE_API"
}